[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest = "*"

[packages]
flask = "*"
requests = "*"
zeep = "*"
xmltodict = "*"
flask-restful = "*"
hashids = "*"
python-dotenv = "*"
marshmallow = "*"
pyjwt = "*"
cryptography = "*"
flask-caching = "*"
dataclasses-json = "*"

[requires]
python_version = "3.10"
